@import "../../assets/styles/variables.scss";

.hero {
  position: relative;
  width: 100%;
  height: 46.4rem;
  background-image: url("../../assets/images/hero.png");
  background-position: center;
  background-size: cover;

  &__box {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
    width: 51.4rem;
  }

  &__header {
    font-size: 5.6rem;
    color: white;
    font-weight: 700;
    width: 51.4rem;
    line-height: 7.1rem;
    text-align: center;
  }

  &__btn {
    font-family: inherit;
    padding: 1.6rem 2.4rem;
    color: $red;
    font-weight: 700;
    line-height: 2rem;
    border: none;
    cursor: pointer;
  }
}
