@import "./mixins.scss";

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: "Sora", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;

  &.active {
    @include respond(tab-port) {
      overflow: hidden;
    }
  }
}
